#mobile-debug { display: none; }

#mobile-debug:target {
  display: block;
  position: fixed;
  z-index: 999999999;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  margin: 0px;
  padding: 10px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: scroll;
  font-family: 'monospace','Lucida Console','Lucida Sans Unicode','Verdana';
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px #000000;
  transition: .2s
}

#mobile-debug .title { font-size: 18px; }
#mobile-debug span, #mobile-debug p { font-size: 12px; margin: 0; }
#mobile-debug .input { color: #D64141; }
#mobile-debug .value { color: #404040; }
#mobile-debug .value.warn { color: #D0A889; }
